

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум пенсионеров@*@ViewBag.Title*@</title>
    <!--<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />-->
    <!--   11   -->       
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" style="max-height: 100px;">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Форум пенсионеров", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li>@Html.ActionLink("Условия", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav">&nbsp;</ul>
                    <ul class="nav navbar-nav">
                        <li style="text-align:left; color:lightgray"><h1>Форум пенсионеров</h1></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                            <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                        }
                        else
                        {
                            <li>
                                <a style="color:lightgray;">@Html.ViewBag.Greeting  @User.Identity.Name</a>
                            </li>
                            <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>

        @*<div class="container body-content">*@
        <div id="categories">
            @{ Html.RenderAction("Menu", "Nav"); }
        </div>
        <div id="content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Simakovich ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


